@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    background-color: #F4F5F7;
    overflow: hidden;
}
input {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.71px;
    letter-spacing: 0%;

    border: 0;
    padding-left: 10px;
    background-color: transparent;
    outline: none;
    width: 355px;
    height: 33px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 104px;
    border-bottom: 1.5px solid #000000;
}
.title{
    text-align: center;
    font-family: 'Cafe24SsurroundAir';
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0%;
}


.main{
    display: flex;
    align-items: center;
    justify-content: center;

    /* position: relative; */
    /* top:154px; */
    height: 80vh;
    /* border: 5px solid red; */
}
.login-wrap{
    font-family: 'Pretendard-Regular';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 5px solid red; */
}
.login-title{
    display: flex;
    
    font-weight: 700;
    font-size: 32px;
    line-height: 38.19px;
    letter-spacing: 0%;
    text-align: center;
    
    margin: 0px 0px 20px 0px;
}
.info-wrap{
    padding: 10px;
}
.info-title{
    font-weight: 700;
    font-size: 15px;
    line-height: 17.9px;
    letter-spacing: 0%;

    margin: 5px 0px 10px 0px;
}
.info-box{
    display: flex;
    align-items: center;

    width: 355px;
    height: 33px;
    border-width: 1px;
    border-radius: 4px;
    border: 1px solid #000000;
}
.info-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 16.71px;
    letter-spacing: 0%;

    margin:10px;
}
.helper-text{
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
    letter-spacing: 0%;
    color: #FF0000;

    margin: 5px 0px 0px 0px;
}

.login-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 355px;
    height: 33px;
    border-radius: 4px;
    background-color: #ACA0EB;

    border: none;
    cursor: pointer;
}
.login-text{
    font-weight: 700;
    font-size: 14px;
    line-height: 16.71px;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
}

.signin-btn{
    font-weight: 400;
    font-size: 14px;
    line-height: 16.71px;
    letter-spacing: 0%;

    border: none;
    cursor: pointer;
    background-color: transparent;

    margin: 10px 0px 10px 0px;
} 
.tmp{
    /* border: 5px solid red; */

}

.wrap{
    display: flex;
    background-color: transparent;
    flex-direction: column;
}

