@import url("style.css");
@import url("button.css");

input {
    font-family: var(--main-font);
    width: 355px;
    height: 33px;
    border: 0;
    padding-left: 10px;
    outline: none;
    background-color: transparent;
}
input::placeholder {
    font-weight: 400;
    font-size: 0.9rem;
    color: #7A7B7B;
}

textarea{
    font-family: var(--main-font);
    
    border: 0;
    outline: none;
    background-color: transparent;
    resize: none;
}
textarea::placeholder{
    color: #7A7B7B;
}
button{
    cursor: pointer;
}

/* 화면 채우기, 배경화면색 설정 */
body{
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* a태그 초기화 */
a{
    text-decoration: none;
}

/*모달 팝업 영역 스타일링*/
my-modal{
    display: none;
}

/* 보여주기 */
.visible{
    visibility: visible !important;;
}
.hidden{
    visibility: hidden !important;;
}
.none{
    display: none !important;
}
.block{
    display: block !important;;
}

/* 메인 */
main{
    height: 88vh;
    justify-content: center;
    font-family: var(--main-font);

    /* 정중앙에 고정되있는 페이지일 시 추가 */
    /* display: flex; */
    /* align-items: center; */
}

/* 콘텐츠 */
.contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
    background-color: transparent;
}
.title{
    display: flex;
    
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 0%;
    text-align: center;
}

.info-wrap{
    padding: 10px;
}
.info-title{
    font-weight: 700;
    font-size: 0.9rem;
    /* line-height: 1.5; */
    /* letter-spacing: 0%; */
    
    margin: 0px 0px 8px 0px;
}
.info-box{
    display: flex;
    align-items: center;
    
    width: 355px;
    height: 33px;
    border-width: 1px;
    border-radius: 4px;
    border: 1px solid #000000;
    margin: 0px 0px 4px 0px;
}
.helper-text{
    font-weight: 100;
    font-size: 0.8rem;
    line-height: 1.2;
    letter-spacing: 0%;
    color: #FF0000;
    
    margin: 0px 0px 4px 0px;
}
.text{
    font-weight: 400;
    font-size: 0.8rem;

    margin: 16px 0px 16px 0px;
}

/* 프로필 사진 */
.profile-upload {
    position: relative;
    height: 149px;
    margin-bottom: 16px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.profile-upload img {
    height: 140px;
    border-radius: 50%;
    justify-content: center;

    cursor: pointer;

    object-fit: cover;
}
.profile-upload input {
    display: none;
}
