@import url("common.css");

main{
    display: flex;
    align-items: center;
}

/* 프로필 이미지 호버 시 수정하기 이미지 나오게.... */
.profile-hover{
    display: block;
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    z-index: 1;
    background-color: black;
    margin-top: -4px;
}
#img:hover + .profile-hover{
    display: block;
    border: 2px solid rebeccapurple;
}


/* 토스트 메시지 수정완료 */
.toast-msg{
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 102px;
    height: 46px;
    border-radius: 30px;
    background-color: var(--point-color);
    
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    color: var(--font-color-white);
    
    border: none;

    margin-top: 64px;

    /* 이동 */
    transition: all 0.3s;
}
.active{
    opacity: 100%;
}