@import url("common.css");
/* 헤더 */
header{
    width: 100%;
    height: 10vh;

    top: 0;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-family: var(--point-font);
    font-weight: 400;
    font-size: 2rem;
    line-height: 2;
    letter-spacing: 0%;

    border-bottom: 1px solid #000000;
}
.header-contents{
    width: 570px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.project-name{
    text-align: center;
}
.nav-btn{
    height: 40px;
}
.nav-btn img {
    height: 40px; 
    
    cursor: pointer;
}
.left{
    margin-right: auto;
}
.right{
    margin-left: auto;
}


/* 드롭다운 속성 */
.dropdown{
    position : relative;
    display : inline-block;

    width: 40px;
    height: 40px;
    /* border: 2px solid red; */
}

.dropdown-content{
    display : none;
    position : fixed;
    float: right;
    top: 72px;
    left: 60vw;
    /* padding-right:40px; */
    z-index : 1; 
    /* border: 2px solid red; */

}
  
.dropdown-content a{
    width: 115px;
    height: 35px;
    gap: 8px;

    padding-top: 4px;
    text-align: center;
    font-family: 'Interop';
    font-weight: 400;
    font-size: 0.8rem;

    background-color: #D9D9D9;
    display : block;

    color: #000000
}
.dropdown-content a:hover{
    background-color: #E9E9E9;
}
#nav-img:hover{
    /* border: 2px solid saddlebrown; */
    cursor: pointer;
}
.dropbtn{
    display: none;
}