@import url("common.css");

main{
    overflow: auto;
    margin-top: 8px;
}

.contents{
    padding-top:40px;
}
.title{
    display: block;

    font-weight: 400;
    font-size: 1.5rem;
}
.bold{
    font-weight: 700;
}


/* 게시글 작성 버튼 */
.btn-wrap{
    display: flex;
    width: var(--post-width);
    justify-content: flex-end;
    margin-top: 24px;
}
.btn-wrap :hover{
    background-color: var(--activate-color);
}
.main-btn{
    width: 138px;
    height: 39px;
    border-radius: 16px;
}


/* 게시글 목록 */
.posts{
    display: flex;
    flex-direction: column;
}