/* 폰트 */
@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 100 400 700;
    font-style: normal;
}
:root{
    --main-font: 'Pretendard-Regular';
    --point-font: 'Cafe24SsurroundAir';
}

/* 컬러 팔레트 */
:root{
    --background-color: #F4F5F7;
    --point-color: #ACA0EB;
    --activate-color: #7F6AEE;

    --font-color-white: #ffffff;
}

/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

/* 화면 채우기, 배경화면색 설정 */
body{
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* a태그 초기화 */
a{
    text-decoration: none;
}