/* 폰트 */
@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 100 400 700;
    font-style: normal;
}
@font-face {
    font-family: 'Interop';
    src: url('https://raw.githubusercontent.com/payw-org/Interop/main/web/fonts/Interop-Regular.woff2')
        format('woff2'),
      url('https://raw.githubusercontent.com/payw-org/Interop/main/web/fonts/Interop-Regular.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
:root{
    --main-font: 'Pretendard-Regular';
    --point-font: 'Cafe24SsurroundAir';
}

:root{
    --post-width: 60vw;
}

/* 컬러 팔레트 */
:root{
    --background-color: #fdf9ec;
    --point-color: #F5DD90;
    --activate-color: #EEC644;
    --secondary-color: #F7E8B6;
    --color-white: #FEFCF6;

    --font-color-black: #140c0c;
    --font-color-white: #fdf9ec;
}

/* css reset */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
} */

